tmpdata
*.DBF
*.dbf
~*
*.swp
releases\superseded
excel templates\superseded
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.Algebras.DataTables.Excel.VSTO.dll
*.pdb
*.pdb
JobDetailAnalysisDesktop/bin/Debug/antlr.runtime.dll
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.pdb
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.dll
JobDetailAnalysisDesktop/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.csproj.FileListAbsolute.txt
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.exe
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.pdb
Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.csproj.GenerateResource.Cache
JobDetailAnalysis/JobDetailAnalysisSetUp/Debug/JobDetailAnalysisSetUp.msi
JobDetailAnalysis/JobDetailAnalysisSetUp/Debug/JobDetailAnalysisSetUp.msi
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.csprojResolveAssemblyReference.cache
Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.pdb
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.exe
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.exe
JobDetailAnalysisDesktop/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.csproj.FileListAbsolute.txt
JobDetailAnalysisDesktop/bin/Debug/StringTemplate.dll
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.Algebras.DataTables.Excel.VSTO.dll
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.Algebras.DataTables.Excel.VSTO.pdb
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.dll
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.pdb
JobDetailAnalysisDesktop/bin/Debug/SysconCommon.Algebras.DataTables.Excel.VSTO.dll
JobDetailAnalysisDesktop/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.csproj.FileListAbsolute.txt
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.exe
JobDetailAnalysisDesktop/obj/x86/Debug/JobDetailAnalysisDesktop.pdb
JobDetailAnalysisDesktop/bin/Release/JobDetailAnalysisDesktop.vshost.exe.manifest
JobDetailAnalysisDesktop/bin/Release/JobDetailAnalysisDesktop.vshost.exe.config
JobDetailAnalysisDesktop/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.About.resources
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.CostCodeSelector.resources
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.JobDetailAnalysis.resources
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.ViewAuditLog.resources
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.csproj.FileListAbsolute.txt
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.csprojResolveAssemblyReference.cache
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.exe
JobDetailAnalysisDesktop/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
Tests/obj/Debug/build.force
Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Tests/obj/Release/Tests.csproj.FileListAbsolute.txt
Tests/obj/Release/Tests.csprojResolveAssemblyReference.cache
Tests/obj/Release/build.force
JobDetailAnalysisDesktop/obj/x86/Release/JobDetailAnalysisDesktop.TMTypes.resources